<div class="clearfix">
    <div id="hero" class="jumbotron">
        <div class="jumbotron-content col-md-offset-6 text-center">
            <h2>Welcome to the<br>
                #1 Managed Cloud Company</h2>

            <p>Experience our highly specialized expertise and best-in-class service across the world's leading
                infrastructure
                technologies, databases, and applications.</p>

            <p><a class="btn btn-warning btn-lg jumbotron-btn" href="#" role="button">Explore Managed Cloud</a></p>
        </div>
    </div>
</div>