<div class="container vcenter">
    <div id="solveImg" class="col-sm-12 col-md-5 text-center">
        <img src="http://034d24a88b3e71fd72a6-f083e9a6295a3f0714fa019ffdca65c3.r47.cf1.rackcdn.com/home/solve-la-lockup-homepage.png">
    </div>
    <div class="col-sm-12 col-md-7">
        <div id="solveContent">
            <h2>Solve your toughest IT Challenges</h2>

            <div>
                Hear how our fastest growing and most innovative customers solve for cloud security, big data, and
                complex cloud business models. Rackspace specialists will be on hand for one-on-one advice on
                overcoming
                your IT obstacles.
            </div>
            <div class="margin-10px">
                <a href="#">REGSITER NOW <span class="fa fa-arrow-right"></span></a>
            </div>
        </div>
    </div>
</div>