/* app css stylesheet */
body {
    padding-top: 70px;
    font-size: medium;
}

.vcenter {
    display: flex;
    align-items: center;
}

.form-control {
    border-radius: 0;
}

.margin-bottom-10px {
    margin-bottom: 10px;
}

.margin-10px {
    margin: 10px 0;
}

.btn {
    border-radius: 0;
}

.mobile-show-me {
    display: none;
}

#header div a {
    font-size: x-small;
    white-space: nowrap;
}

#header {
    z-index: 1001;
    background-color: #FFF;
    padding: 10px 0;
}

.dropdown-menu {
    z-index: 1001;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.navbar-brand {
    padding: 0;
}

.nav-menu-sm {
    position: relative;
    top: -25px;
    background-color: #333;
    padding: 0 15px !important;
}

.nav-menu-sm a {
    color: #fff
}

.nav-menu-sm li a:hover {
    background-color: #222
}

#hero {
    position: relative;
    height: 400px;
    background: url(http://034d24a88b3e71fd72a6-f083e9a6295a3f0714fa019ffdca65c3.r47.cf1.rackcdn.com/home/homepage-hero-3screen.jpg) center top;
    padding: 40px !important;

}

.jumbotron p {
    font-size: x-large;
}

.jumbotron-btn {
    color: #2a2a2a;
    letter-spacing: .2rem;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
}

.jumbotron-btn:hover, .jumbotron-btn:active, .jumbotron-btn:active:focus, .jumbotron-btn:focus, .jumbotron-btn:visited {
    color: #2a2a2a;
}

.hosting-panel > div {
    padding: 0 5px;
}

.hosting-panel .panel {
    border-radius: 0;
    background-color: #007295;
    min-height: 200px;
    overflow: hidden;
    border: 9px solid #FFF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .35);
}

.hosting-panel .panel:hover {
    background-color: #006a8b;
    cursor: pointer;
}

.hosting-panel .panel-body {
    padding: 5px;
}

.panel-icon img {
    height: 40px;
    padding-bottom: 5px;
}

.panel-icon-partners img {
    height: 40px;
    padding: 5px 0 10px 0;
}

.panel-title {
    color: #FFF;
    font-size: small;
}

.panel-play {
    z-index: 100;
    border-radius: 20px;
    border: 1px solid;
    position: relative;
    top: 11px;
    font-size: x-small;
    padding: 2px 1px 2px 3px;
    background-color: #FFF;
}

.panel-divide {
    margin: 0 -6px 20px -6px;
    border: 1px solid #0099c8;

}

.panel-bottom {
    z-index: 1;
    position: relative;
    top: -15px;
    margin: -5px -5px -70px -5px;
    padding: 20px 0 55px 0;
    background-color: #005e7c;
}

.panel-description {
    color: #FFF;
    font-size: x-small;
    padding: 0 5px;
}

.panel-learn {
    position: relative;
    bottom: 50px;
    z-index: 100;
}

.panel-learn a {
    color: #FFF;
    text-decoration: underline;
    font-size: x-small;
}

.animation-icon {
    height: 70px;
}

.flex-feature-container {
    display: flex;
    flex-direction: row;
}

.flex-host-container {
    display: flex;
    flex-direction: row;
}

.flex-feature {
    width: 12.5%;
}

.flex-host {
    width: 25%;
}

#itSolutions {
    background-color: #f2f5f5;
    padding: 10px 0;
}

#leadForm {
    background-color: #333;
    padding: 10px 0;
    color: #FFF;
}

#leadForm a {
    color: #FFF;
    text-decoration: underline;
}

.left-side {
    border-right: 1px solid #666;
    min-height: 375px;
}

.lead-form-btn {
    margin: 25px;
}

.chat-btn {
    padding: 10px 20px;
}

#solveImg img {
    background: url(http://034d24a88b3e71fd72a6-f083e9a6295a3f0714fa019ffdca65c3.r47.cf1.rackcdn.com/home/solve_pattern.png);
}

#solveContent {
    min-height: 200px;
}

#solveContent a {
    font-weight: bold;
    color: #c40022;
}

#newsEvents {
    background-color: #f2f5f5;
    padding: 10px 0;
}

.newsContent .panel {
    border-radius: 0;
    padding: 15px;
    min-height: 300px;
}

.newsContent .panel:hover {
    background-color: #666;
    color: #FFF;
    cursor: pointer;
}

.read-more {
    position: absolute;
    bottom: 30px;
}

#footer a {
    color: #FFF;
}

#redFooter {
    background-color: #c40022;
    color: #FFF;
    font-size: small;
    padding: 5px 0;
    white-space: nowrap;
}

.anytime {
    font-size: x-large;
}

#greyFooter {
    background-color: #2a2a2a;
    color: #aaa;
}

.about-links {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

#greyFooter > div {
    padding: 10px 0;
}

#greyFooter .panel-group {
    margin-bottom: 0;
}

#greyFooter .panel, #greyFooter .panel-body {
    background-color: #2a2a2a;
    border: none;
    border-radius: 0;
    font-size: smaller;
    white-space: nowrap;
    padding: 0 15px;
}

#greyFooter .panel-heading {
    background-color: #2a2a2a;
    padding: 5px 15px;
}

#greyFooter .panel-title {
    font-size: small;
    padding-bottom: 0;
    font-weight: bold;
    text-decoration: underline;
}

#blackFooter {
    font-size: small;
    padding: 10px 0;
    background-color: #000;
    color: #FFF;
}

#blackFooter select {
    color: #222;
}

@media (max-width: 991px) {
    body {
        padding-top: 40px;
    }

    .vcenter {
        display: block;
        align-items: center;
    }

    .mobile-hide-me {
        display: none !important;
    }

    .mobile-show-me {
        display: block;
    }

    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin: 8px -15px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-text {
        float: none;
        margin: 15px 0;
    }

    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .collapsing {
        overflow: hidden !important;
    }

    #hero {
        position: relative;
        height: 300px;
        background: url(http://034d24a88b3e71fd72a6-f083e9a6295a3f0714fa019ffdca65c3.r47.cf1.rackcdn.com/home/homepage-hero-3screen.jpg) right bottom;
        padding: 10px !important;
    }

    .jumbotron p {
        font-size: medium;
    }

    .hosting-panel > div {
        padding: 0 5px;
    }

    .hosting-panel .panel {
        border-radius: 0;
        background-color: #f2f5f5;
        min-height: 150px;
        overflow: hidden;
        border: none;

    }

    .hosting-panel .panel-body {
        padding: 5px;
    }

    .panel-title {
        color: #333;
        font-size: x-large;
        padding-bottom: 15px;
    }

    .panel-bottom {
        z-index: 1;
        position: relative;
        top: 0;
        margin: 0;
        padding: 0;
        background-color: transparent;
    }

    .hosting-panel .panel:hover {
        background-color: #dedede;
        cursor: pointer;
    }

    .panel-description {
        color: #333;
        font-size: small;
        padding: 0 5px;
    }

    .panel-learn {
        position: relative;
        bottom: 45px;
        z-index: 100;
    }

    .panel-learn a {
        color: #333;
        text-decoration: underline;
        font-size: small;
    }

    .flex-host-container {
        display: flex;
        flex-direction: column;
    }

    .flex-feature-container {
        display: flex;
        flex-flow: row wrap;
        flex-direction: row;
    }

    .flex-host {
        width: 100%;
    }

    .flex-feature {
        width: 25%;
    }

    .left-side {
        border-right: none;
        min-height: 0;
    }

    .call-us {
        white-space: nowrap;
    }

    #solveImg img {
        height: 300px;
    }

    .newsContent .panel {
        border-radius: 0;
        padding: 15px;
        min-height: 250px;
    }

    .newsContent h3 {
        font-size: large;
    }

    .newsContent p, .read-more {
        font-size: small;
    }

    .about-links {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }

    #greyFooter {
        text-align: center;
    }

    #blackFooter {
        font-size: x-small;
    }
}

