<div class="container ">
    <div class="row vcenter">
        <div class="col-md-5 pull-left ">
            <div class="col-md-5">
                <a href="tel:+18009614454">SUPPORT: 1-800-961-4454</a>
            </div>
            <div class="col-md-4">
                <a href="tel:+1844-857-4878">SALES: 1-800-961-4454</a>
            </div>
            <div class="col-md-2">
                <a href="http://www.rackspace.com/information/contactus#form">EMAIL US</a>
            </div>
            <div class="col-md-1">
                <a href="#">SALES CHAT</a>
            </div>
        </div>
        <div class=" col-md-7 vcenter clearfix">
            <div class="col-md-offset-3 col-md-2 col-lg-offset-4 col-lg-2 pull-right">
                <a href="https://developer.rackspace.com">DEVELOPERS</a>
            </div>
            <div class="col-md-2 col-lg-2">
                <a href="https://partners.rackspace.com">PARTNERS</a>
            </div>
            <div class="col-md-3 col-lg-2">
                <div class="btn-group " uib-dropdown uib-keyboard-nav>
                    <button id="simple-btn-keyboard-nav" type="button" class="btn btn-success" uib-dropdown-toggle>
                        SIGN UP <span class="caret"></span>
                    </button>
                    <ul class="uib-dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
                        <li role="menuitem"><a href="https://cart.rackspace.com/cloud">Rackspace Cloud</a></li>
                        <li role="menuitem"><a href="https://cart.rackspace.com/cloud/sites">Cloud Sites</a></li>
                        <li role="menuitem"><a href="https://cart.rackspace.com/apps">Email & Apps</a></li>
                        <li role="menuitem"><a href="https://cart.rackspace.com/aws">Support for AWS</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-lg-2">
                <div class="btn-group pull-right" uib-dropdown uib-keyboard-nav>
                    <button id="simple-btn-keyboard-nav" type="button" class="btn btn-default" uib-dropdown-toggle>
                        LOG IN <span class="caret"></span>
                    </button>
                    <ul class="uib-dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
                        <li><a href="https://my.rackspace.com/portal/auth/login">MyRackspace Portal</a></li>
                        <li><a href="https://mycloud.rackspace.com">Cloud Control Panel</a></li>
                        <li><a href="https://manage.rackspacecloud.com/pages/Login.jsp">Cloud Sites Control Panel</a>
                        </li>
                        <li><a href="https://apps.rackspace.com">Rackspace Webmail Login</a></li>
                        <li><a href="https://cp.rackspace.com">Email Admin Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
