<div class="clearfix">
    <div class="col-md-12 text-center">
        <h2>Get free advice from our experts</h2>
    </div>
    <div class="col-md-6 left-side">
        <div class="row">
            <div class="col-xs-12 margin-10px"><strong>We've got your back 24x7x365.</strong> Our helpful and always ready experts
                are a click or call away. Anytime.
                Anywhere.
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1">
                <span class="fa fa-4x fa-mobile"></span>
            </div>
            <div class="col-xs-11 margin-10px">
                <div class="col-xs-3"><strong>Sales</strong></div>
                <div class="col-xs-9"><strong>1-800-961-2888</strong></div>
                <div class="col-xs-3"><strong>Support</strong></div>
                <div class="col-xs-9"><strong>1-800-961-4455</strong></div>
            </div>
        </div>
        <button class="btn btn-default margin-10px"><span class="fa fa-comments"> Chat With Our Experts</span></button>
    </div>

    <div class="col-md-6">
        <div class="margin-10px">Already a Rackspace customer?<br>
            We'll help you <a href="#">connect with your support team</a>.
        </div>
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="firstName">First Name*</label>
                        <input id="firstName" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lastName">Last Name*</label>
                        <input id="lastName" type="text" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email">Email Address*</label>
                        <input id="email" type="email" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="phoneNumber">Phone Number*</label>
                        <input title="Phone Number" id="phoneNumber" type="tel" class="form-control">
                    </div>
                </div>
            </div>


            <label for="assist">How can we assist you?</label>
            <textarea id="assist" class="form-control margin-bottom-10px" rows="2"></textarea>

            <div class="row">
                <div class="col-md-12">
                    <iframe src="https://www.google.com/recaptcha/api2/anchor?k=6LfYAv8SAAAAABe-rNLOPRGaIU8-CD2iOCQzVUA_&amp;co=aHR0cDovL3d3dy5yYWNrc3BhY2UuY29tOjgw&amp;hl=en&amp;v=r20151112120204&amp;theme=dark&amp;size=normal"
                            title="recaptcha widget" width="304" height="78" role="presentation" frameborder="0"
                            scrolling="no"></iframe>
                    <button type="submit" class="btn btn-success lead-form-btn pull-right">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>